body {
	background-color: #ebf3f9 !important;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
a {
	color: #777 !important;
	text-decoration: none !important;
}
.navbar-default {
	background-color: #FFF !important;
	/*min-height: 70px !important;*/
}
.navbar-brand .logo {
	height: 44px;
    margin-top: -10px;
	/*margin-top: -10px;*/
}
.linksContainer {
	margin: 7px 0;
	font-size: 0.9em;
}
.linksContainer h4 {
	font-size: 14px !important;
	font-weight: 400 !important;
}
@media (max-width: 480px) {
	.linksContainer {
		margin: 20px 0;
		font-size: 0.9em;
	}
	.linksContainer h4 {
		font-size: 14px;
	}
}
.well {
	background-color: #FFF !important;
	padding: 12px !important;
	transition: box-shadow .2s ease-in-out !important;
	box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02) !important;
}
.actionItems {
	position: absolute;
	bottom: 6px;
	left: 25px;
	width: 100%;
	font-size: 1.0em;
    font-weight: bold;
    border-top: #eee 1px solid;
    padding: 7px 10px 4px 0px;
}
.actionItems a {
	/*border: 1px solid #DEDEDE;*/
    padding: 3px 6px;
    border-radius: 2px;
    border: #EFEFEF 1px solid;
}
.actionItems a:hover {
	background-color: #EEEEED;
}
h4.link-title a {
	color: #f30202 !important;
	font-weight: bold;
}
h4.link-title a small {
	font-size: 0.8em;
	margin-left: 1px;
	font-weight: bold;
}
div.pagination {
	display: table !important;
	margin: 0 auto;
}
.linkLookLikeButton {
	border: none;
    line-height: 180%;
    text-align: center;
    color: #2874f0;
    background-color: #fff;
    margin-top: 16px;
    font-family: inherit;
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    transition: box-shadow 0.2s ease;
}
.leftBottom50px {
	position: absolute;
	bottom: 45px;
	left: 25px;
	color: #ADADAD;
	font-weight: bold;
}
.leftBottom {
	position: absolute;
	bottom: 5px;
	left: 25px;
	color: #ADADAD;
	font-weight: bold;
}
.recommend:hover .recommendHeart, .recommend .active {
	/*content: '\2665';*/
  	color: red;
}
.upvote:hover .fa-arrow-up, .upvote .active {
	color: green;
}
.view:hover .fa-eye, .view .active {
	color: #4c87c1;
}
.linkedin:hover .fa-linkedin {
	color: #0077B5;
}
.facebook:hover .fa-facebook {
	color: #3b5998;
}
.twitter:hover .fa-twitter {
	color: #0084b4;
}
.link-tags {
	width: 90%;
    border-top: #eee 1px solid;
    padding: 7px 10px 0px 0px;
    font-size: 0.7em;
}
.link-tags .tag {
    float: left;
    display: block;
    border: #FB503B 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FB503B !important;
    font-weight: 700;
    padding: 1px 5px;
    margin: 3px 2px;
}
/*.tag + .tag {
    margin-left: 5px
}*/

.tag:hover {
    text-decoration: none;
    border-color: none;
    color: #fff !important;
    background-color: #FB503B
}
.tag {
    -webkit-transition: color, border-color, background-color .2s ease-in-out;
    -moz-transition: color, border-color, background-color .2s ease-in-out;
    -ms-transition: color, border-color, background-color .2s ease-in-out;
    -o-transition: color, border-color, background-color .2s ease-in-out;
    transition: color, border-color, background-color .2s ease-in-out
}
div.tagsBlock a {
	float: left;
	display: block;
	border: #FB503B 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FB503B !important;
	font-weight: 700;
	padding: 1px 5px;
	margin: 3px 2px;
}
.page-breadcrumb {
	list-style-type: none;
}
.page-breadcrumb .fa-angle-right {
	margin: 0 4px;
}
#breadCrumbContainer {
	/*background: #daeafb;*/
    padding: 12px 0;
    height: 40px;
    margin-top: -10px;
}




/* Container Of The Plugin */

.socialPlugin {
	text-align: center;
	width: 20px;
	margin: 20px auto 0;
	height: 15px;
	/*display: block;*/
	position: absolute;
	right: 50px;
	bottom: 10px;
	border: none !important;
}

.socialPlugin .showSocialButtons {
	font-size:12px;
	cursor:pointer;
	/*padding:0.333em 0.667em;*/
	/*border-radius: 4px;*/
	/*border: 1px solid rgba(0,0,0,0.3);*/
	color: rgba(0,0,0,0.7);
}

.socialPlugin .socials {
	width: 260px;
	color: white;
	line-height: 10px;
	text-align: center;
	/*margin-top: -20px;*/
	margin-left: -30px;
	display:block;
	transform-origin:50% 0%;
	-webkit-transform: scale(0) translateY(-150px);
	-moz-transform:scale(0) translateY(-150px);
	-o-transform:scale(0) translateY(-150px);
	transform:scale(0) translateY(-150px);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
	opacity:0;
}

.socialPlugin .socials:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 4px auto;
	height: 0;
	width: 0;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-top: 8px solid #becade;
}

@media all and (max-width: 992px) {
	.socialPlugin .socials {
		margin-top: -90px;
	}
}


/* Toggled State */

.socialPlugin .socials.opened {
	opacity:1;
	-webkit-transform: scale(1) translateY(-60px);
	-moz-transform:scale(1) translateY(-60px);
	-o-transform:scale(1) translateY(-60px);
	transform:scale(1) translateY(-60px);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}


/* Share buttons */

.socialPlugin .socials .fa {
	height: 2.5em;
	font-size: 0.8em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 2.5em;
	-webkit-backface-visibility: hidden;
}

.socialPlugin .socials .fa:before, .socialPlugin .socials .fa:after {
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	top: 50%;
	width: 100%;
}

.socialPlugin .socials .fa:before {
	color: white;
	-webkit-transform: translate3D(0, -50%, 0);
	-ms-transform: translate3D(0, -50%, 0);
	transform: translate3D(0, -50%, 0);
	z-index: 2;
}

.socialPlugin .socials .fa:after {
	padding-bottom: 25%;
	padding-top: 300%;
	top: 0;
}

.socialPlugin .socials .fa:hover:after {
	-webkit-transform: translate3D(0, -73%, 0);
	-ms-transform: translate3D(0, -73%, 0);
	transform: translate3D(0, -73%, 0);
}

.socialPlugin .socials .fa:hover:before {
	-webkit-transform: translate3D(0, -250%, 0);
	-ms-transform: translate3D(0, -250%, 0);
	transform: translate3D(0, -250%, 0);
}

/* The social icons */

.socialPlugin .socials .fa-twitter:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #00acee), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#00acee 25%, #ffffff 75%);
	background-image: linear-gradient(#00acee 25%, #ffffff 75%);
	content: "\f099";
	color: #00acee;
}

.socialPlugin .socials .fa-facebook:after, .socialPlugin .socials .fa-linkedin:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #3b5998), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#3b5998 25%, #ffffff 75%);
	background-image: linear-gradient(#3b5998 25%, #ffffff 75%);
	content: "\f09a";
	color: #3b5998;
}

.socialPlugin .socials .fa-linkedin:after {
	content: "\f08c" !important;	
}

.socialPlugin .socials .fa-google-plus:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #bb0000), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#bb0000 25%, #ffffff 75%);
	background-image: linear-gradient(#bb0000 25%, #ffffff 75%);
	content: "\f0d5";
	color: #bb0000;
}

.socialPlugin .socials .fa-pinterest:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #cb2027), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#cb2027 25%, #ffffff 75%);
	background-image: linear-gradient(#cb2027 25%, #ffffff 75%);
	content: "\f0d2";
	color: #cb2027;
}

.socialPlugin .socials .fa-tumblr:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #2C4762), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#2C4762 25%, #ffffff 75%);
	background-image: linear-gradient(#2C4762 25%, #ffffff 75%);
	content: "\f173";
	color: #2C4762;
}
