body {
	background-color: #ebf3f9 !important;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}
a {
	color: #777 !important;
	text-decoration: none !important;
}
.navbar-default {
	background-color: #FFF !important;
	/*min-height: 70px !important;*/
}
.navbar-brand .logo {
	height: 44px;
    margin-top: -10px;
	/*margin-top: -10px;*/
}
.linksContainer {
	margin: 7px 0;
	font-size: 0.9em;
}
.linksContainer h1 {
	font-size: 14px !important;
	font-weight: 400 !important;
	margin-top: 2px;
}
ul.social-icons {
	margin-right: 5%;
}
ul.social-icons li {
	margin: 0 5px;
}
ul.social-icons li i {
	font-size: 18px;
}
@media (max-width: 480px) {
	.linksContainer {
		margin: 20px 0;
		font-size: 0.9em;
	}
	.linksContainer h1 {
		font-size: 14px;
	}
	ul.social-icons {
		margin-right: 10%;
	}
}
.well {
	background-color: #FFF !important;
	padding: 12px !important;
	transition: box-shadow .2s ease-in-out !important;
	box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02) !important;
}
.actionItems {
	position: absolute;
	bottom: 6px;
	left: 25px;
	width: 100%;
	font-size: 1.0em;
    font-weight: bold;
    border-top: #eee 1px solid;
    padding: 7px 10px 4px 0px;
}
.actionItems a {
	/*border: 1px solid #DEDEDE;*/
    padding: 3px 6px;
    border-radius: 2px;
    border: #EFEFEF 1px solid;
}
.actionItems a:hover {
	background-color: #EEEEED;
}
h1.link-title a {
	color: #f30202 !important;
	font-weight: bold;
}
h1.link-title a small {
	font-size: 0.8em;
	margin-left: 1px;
	font-weight: bold;
}
div.pagination {
	display: table !important;
	margin: 0 auto;
}
.linkLookLikeButton {
	border: none;
    line-height: 180%;
    text-align: center;
    color: #2874f0;
    background-color: #fff;
    margin-top: 16px;
    font-family: inherit;
    width: 100%;
    height: 48px;
    font-size: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    transition: box-shadow 0.2s ease;
}
.leftBottom50px {
	position: absolute;
	bottom: 45px;
	left: 25px;
	color: #ADADAD;
	font-weight: bold;
}
.leftBottom {
	position: absolute;
	bottom: 5px;
	left: 25px;
	color: #ADADAD;
	font-weight: bold;
}
.recommend:hover .recommendHeart, .recommend .active {
	/*content: '\2665';*/
  	color: red;
}
.upvote:hover .fa-arrow-up, .upvote .active {
	color: green;
}
.view:hover .fa-eye, .view .active {
	color: #4c87c1;
}
.linkedin:hover .fa-linkedin {
	color: #0077B5;
}
.facebook:hover .fa-facebook {
	color: #3b5998;
}
.twitter:hover .fa-twitter {
	color: #0084b4;
}
.reddit:hover .fa-reddit {
	color: #C71E21;
}
.link-tags {
	width: 90%;
    border-top: #eee 1px solid;
    padding: 7px 10px 0px 0px;
    font-size: 0.7em;
}
.link-tags .tag {
    float: left;
    display: block;
    border: #FB503B 1px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FB503B !important;
    font-weight: 700;
    padding: 1px 5px;
    margin: 3px 2px;
}
/*.tag + .tag {
    margin-left: 5px
}*/
.countTag {
	float: left;
	display: block;
	border: none !important;
	color: #d00 !important;
	/*font-weight: bold;*/
	font-size: 1.3em;
	padding: 1px 5px;
	margin: 3px 2px;
}
/*.countTag:before {
	content: "+";
    margin-right: 2px;
    vertical-align: middle;
    font-size: 12px;
}*/
.tag:hover {
    text-decoration: none;
    border-color: none;
    color: #fff !important;
    background-color: #FB503B
}
.tag {
    -webkit-transition: color, border-color, background-color .2s ease-in-out;
    -moz-transition: color, border-color, background-color .2s ease-in-out;
    -ms-transition: color, border-color, background-color .2s ease-in-out;
    -o-transition: color, border-color, background-color .2s ease-in-out;
    transition: color, border-color, background-color .2s ease-in-out
}
div.tagsBlock a {
	float: left;
	display: block;
	border: #FB503B 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
	color: #FB503B !important;
	font-weight: 700;
	padding: 3px 5px;
	margin: 3px 2px;
	font-size: 12px;
}
.tagsContainer {
	background-color: #FFF;
	padding: 15px 10px;
	border-radius: 5px;
	margin-top: 10px;
}
.page-breadcrumb {
	list-style-type: none;
}
.page-breadcrumb li {
	float: left;
}
.page-breadcrumb .fa-angle-right {
	margin: 0 4px;
}
#breadCrumbContainer {
	/*background: #daeafb;*/
    padding: 12px 0;
    height: 40px;
    /*margin-top: -10px;*/
}

#feedback-button {
	position: fixed;
    visibility: visible !important;
    cursor: pointer;
    bottom: 0;
    right: 5%;
    width: auto;
    border: 0;
    font-size: 14px;
    background: #2C2C2C;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 0;
    z-index: 100;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.socialShareButtons {
	margin-right: 40px;
}
#searchContainer {
	margin-top: -21px;
}
#searchContainer #search {
	display: none;
	border: 0;
	width: 97%;
	height: 40px;
	line-height: 50px;
	font-size: 20px;
	padding-left: 10px;
	margin-left: 16px;
	margin-bottom: 15px;
}
#searchContainer #searchclear {
    float: right;
    margin-right: 5px;
    margin-top: -45px;
    position: relative;
    z-index: 2;
    color: #333;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    /*display: none;*/
}
.hidden-mobile {
  display: none !important; /* This is how it looks on mobile */
}

@media (min-width: 600px) {
  .hidden-mobile {
    display: block !important; /* This is how it looks on desktop */
  }
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none !important; /* This is how it looks on desktop */
  }
}
.selectize-control {
	position: initial !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}